.container {
    width: auto;
    height: 100%;
    padding-top: 74px;
    align-items: center;

    background-size: cover;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.post-preview {
    width: 313px; 
    min-height: 329px;

    background: #ffffff;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
    margin-top: 25px;
    
}

.img-expo{
    width: 100%;
    padding: 4px;
    padding-bottom: 0;
    text-align: center;
}

.expo-title{
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: OpenSans-Bold;

    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #002B59;
}

.post-title {
    padding: 2px;
    padding-left: 16px;
    color: #002b59;
    
    font-family: OpenSans-Bold;
    font-size: 18px;
    line-height: 30px;
}

.post-subtitle {
    padding: 1px;
    padding-left: 18px;
    padding-bottom: -20px;

    color: #5a7fa7;
    
    font-family: OpenSans-SemiBold;
    font-size: 13px;
    line-height: 18px;

}

.clear-page{
    color: #5a7fa7;
    
    font-family: OpenSans-SemiBold;
    font-size: 18px;
    line-height: 30px;
}